@import url("../../.cache/wal/colors-waybar.css");

* {
	border: none;
	border-radius: 0px;
	font-family: "JetBrainsMonoNL Nerd Font";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	min-height: 0;
}

window#waybar {
	background: @background;
	border-bottom: 0.5px solid #0c0e0f;
	color: @foreground;
}

#workspaces {
	margin: 0px;
	padding: 7px;
}

#workspaces button label {
	font-size: 0;
	padding: 0;
}

#workspaces button {
	border-radius: 50px;
	background-color: rgba(255,255,255,0.2);
	transition: all 0.3s ease-in-out;
	margin: 0px 3px;
	padding: 0;

}

#workspaces button:hover {
	background-color: @foreground;
	color: @foreground;
	min-width: 25px;
}

#workspaces button.active {
	background-color: @foreground;
	min-width: 35px;
	transition: all 0.3s ease-in-out;
}

#custom-wlogout {
	color: @foreground;
	background-color: @background;
	padding: 0;
	margin: 0 15px 0 8px;
}

#clock {
	font-size: 15px;
	font-weight: bold;
}

#battery {
	font-size: 12px;
	margin: 0 8px;
}

#battery.charging {
	color: @color2;
}

#battery.warning:not(.charging) {
	color: @color3;
}

#network {
	margin: 0 10px 0 8px;
}

#pulseaudio {
	margin: 0 8px;
}

#bluetooth {
	margin: 0 8px;
}

#power-profiles-daemon {
	margin: 0 8px;
}

#power-profiles-daemon.power-saver {
	color: @color15;
}

#power-profiles-daemon.balanced {
	color: @foreground;
}

#power-profiles-daemon.performance {
	color: @color2;
}
