@import url("../../.cache/wallust/colors-waybar-old.css");

* {
	border: none;
	border-radius: 0px;
	font-family: "JetBrainsMonoNL Nerd Font Mono";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	min-height: 0;
}

window#waybar {
	background: @background;
	border-bottom: 0.5px solid #0c0e0f;
	color: @foreground;
}

#clock {
	font-size: 15px;
	font-weight: bold;
}

#battery {
	font-size: 12px;
	margin: 0 10px;
}

#battery.charging {
	color: @color2;
}

#battery.warning:not(.charging) {
	color: @color3;
}

#network {
	margin: 0 10px 0 10px;
}

#pulseaudio {
	margin: 0 10px;
}

#bluetooth {
	margin: 0 10px;
}
